[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/libusb"]
	path = ThirdParty/libusb
	url = https://github.com/libusb/libusb.git
[submodule "ThirdParty/freetype"]
	path = ThirdParty/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "SynthLib"]
	path = SynthLib
	url = https://github.com/chrispurusha/SynthLib.git
